/* body */
body{ font-family: 'Arya', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif;}

#wrap {overflow: hidden;}

header .header_inner {position: fixed; width: 100%; height: 50px;}
header .logo { position: absolute; left: 30px; top: 50%; transform: translateY(-50%); font-weight: 700; }
header .txt_wrap { position: absolute; left: 30px; top: 50px; line-height: 1; }
header .txt_wrap span {display: block;}